<% css_class_prefix = "goldencobra_newsletter" %>
<%= form_tag "/goldencobra_events/event/register", :remote => true, :id => "#{css_class_prefix}-registration-form" do %>

  <div>
    <ul>
      <li>
        <%= radio_button_tag(:gender, "male") %>
        <%= label_tag(:gender, "Herr") %>
      </li>

      <li>
        <%= radio_button_tag(:gender, "female") %>
        <%= label_tag(:gender, "Frau") %>
      </li>
    </ul>
  </div>

  <div>
    <%= label_tag(:title, "Titel") %>
    <%= text_field_tag(:title) %>
  </div>

  <div>
    <%= label_tag(:first_name, "Vorname") %>
    <%= text_field_tag(:first_name) %>
  </div>

  <div>
    <%= label_tag(:last_name, "Nachname") %>
    <%= text_field_tag(:last_name, "", :required => true) %>
  </div>

  <div>
    <%= label_tag(:company, "Firma") %>
    <%= text_field_tag(:company, "", :required => true) %>
  </div>

  <div>
    <%= label_tag(:phone, "Telefon") %>
    <%= text_field_tag(:phone) %>
  </div>

  <div>
    <%= label_tag(:email, "Email-Addresse") %>
    <%= text_field_tag(:email, "", :required => true) %>
  </div>

  <%= submit_tag("Eintragen") %>

<% end %>

