<% css_prefix = "goldencobra-newsletter-registration" %>
<section>
	<h2 class="boxheader"><%= s("goldencobra_newsletter.newsletters_widget.headline") %></h2>
	<p><%= s("goldencobra_newsletter.newsletters_widget.description")%></p>
	<%# <%= form_tag "/goldencobra_newsletter/newsletters/register", :remote => false, :id => "#{css_prefix}-form" do %>
	<%= form_tag "/goldencobra_newsletter/newsletters/register", :remote => true, :id => "#{css_prefix}-form" do %>

	  <div class="#{css_prefix}-field-group">
	    <ul>
	      <li>
	        <%= radio_button_tag(:gender, "male") %>
	        <%= label_tag(:gender, "Herr") %>
	      </li>

	      <li>
	        <%= radio_button_tag(:gender, "female") %>
	        <%= label_tag(:gender, "Frau") %>
	      </li>
	    </ul>
	  </div>

	  <%= text_box_with_label_for(:title, :required => false) %>

	  <%= text_box_with_label_for(:first_name, :required => false) %>

	  <%= text_box_with_label_for(:last_name, :required => false) %>

	  <%= text_box_with_label_for(:company, :required => false) %>

	  <%= text_box_with_label_for(:phone, :required => false) %>

	  <%= text_box_with_label_for(:email, :required => false) %>

	  <%= submit_tag("Eintragen", :id => "#{css_prefix}-submit") %>

	<% end %>
</section>
